<?xml version="1.0"?>
<!--
/**
 * routes
 * @copyright Copyright © 2019 Youssuph Inc.. All rights reserved.
 * @author    purplescroll@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="youssuph_customcatalog" frontName="youssuph_customcatalog">
            <module name="Youssuph_CustomCatalog" />
        </route>
    </router>
</config>
